.homeContainer {
  height: 100vh;
}

.detailsContainer {
  padding: 2rem 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.detailsContainer h2 {
  font-size: 2.1rem;
  padding-left: 1rem;
  /* margin-bottom: 0.5rem; */
}

.detailsCompContainer {
  /* width: 90%;
  margin-left: 50%;
  transform: translateX(-50%); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poweredBySpan {
  margin: 2rem 0;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.6rem;
  color: grey;
}
