.cardContainer {
  padding: 2.5rem;
  height: 35%;
  background-size: cover;
  color: white;
  position: relative;
}

.mainTemp {
  display: inline;
  font-size: 5rem;
}

.cityWeather h4 {
  font-size: 1.7rem;
}

.lastUpdated {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.navDiv {
  margin: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navDiv button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.navDiv i {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
