.cardContainer {
  padding: 2.5rem;
  height: 30%;
  background-size: cover;
  color: white;
  position: relative;
}

.mainTemp {
  display: inline;
  font-size: 5rem;
}

.cityWeather h4 {
  font-size: 1.7rem;
}

.lastUpdated {
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.navIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.5rem;
  font-size: 2rem;
  cursor: pointer;
}
